<ion-view view-title="Map">
    <ion-content id="map">
      <!-- <div id="map" data-tap-disabled="true"></div> -->
     <!--  <iframe width="100%" height="720" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJl96YGJpnUjoR2eO6w15HJSA&key=AIzaSyDGrkr-EFO3bqqgO3lnKEd0G_ewrwY33OI" allowfullscreen></iframe> -->
     <img src="https://maps.googleapis.com/maps/api/staticmap?center=12.9890088,80.2322689&zoom=15&size=3200x3200&scale=4&maptype=roadmap
     &markers=color:blue%7Clabel:S%7C12.989288,80.237736
     &markers=color:blue%7Clabel:I%7C12.99174,80.232086
     &key=AIzaSyDGrkr-EFO3bqqgO3lnKEd0G_ewrwY33OI" >
    </ion-content>
</ion-view>