<ion-view view-title="Map">

    <ion-content>
      <!-- <div id="map" data-tap-disabled="true"></div> -->
     <!--  <iframe width="100%" height="720" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJl96YGJpnUjoR2eO6w15HJSA&key=AIzaSyDGrkr-EFO3bqqgO3lnKEd0G_ewrwY33OI" allowfullscreen></iframe> -->
     <ion-scroll zooming="true" direction="xy">
     <img src="https://maps.googleapis.com/maps/api/staticmap?center=12.9890088,80.2340669&zoom=16&size=1242x2208&scale=2&maptype=roadmap
     &markers=color:blue%7Clabel:S%7C12.989288,80.237736
     &markers=color:blue%7Clabel:I%7C12.99174,80.232086
     &markers=color:blue%7Clabel:K%7C12.99237,80.233181
     &markers=color:blue%7Clabel:C%7C12.989693,80.232108
     &markers=color:blue%7Clabel:P%7C12.99013,80.232093
     &markers=color:blue%7Clabel:D%7C12.9914963,80.234608
     &markers=color:blue%7Clabel:I%7C12.9896597,80.233285
     &markers=color:blue%7Clabel:M%7C12.989386,80.2372439
     &markers=color:blue%7Clabel:F%7C12.9892461,80.2325279
     &markers=color:blue%7Clabel:M%7C12.989433,80.2336504
     &markers=color:blue%7Clabel:S%7C12.991769,80.23343
     &markers=color:blue%7Clabel:C%7C12.990262,80.2303613
     &markers=color:blue%7Clabel:O%7C12.989017,80.233637
     &markers=color:blue%7Clabel:G%7C12.99153,80.233704
     &markers=color:blue%7Clabel:C%7C12.9916557,80.2318064
     &markers=color:blue%7Clabel:G%7C12.98681,80.235309
     &markers=color:blue%7Clabel:A%7C12.986282,80.234159
     &key=AIzaSyDGrkr-EFO3bqqgO3lnKEd0G_ewrwY33OI" >
     </ion-scroll>
    </ion-content>

</ion-view>