<ion-view view-title="Sponsors">
  <ion-content>
   <div class="list card">
  <div class="item item-image">
    <img src="img/sponsors.jpg" id="sponsimage">
  </div>
  <div id="sponstype">Main Sponsors</div>
</div>
	<div class="list card">
  <div class="item item-image">
    <img src="img/sponsors.jpg" id="sponsimage">
  </div>
  <div id="sponstype">Main Sponsors</div>
</div>
	<div class="list card">
  <div class="item item-image">
    <img src="img/sponsors.jpg" id="sponsimage">
  </div>
  <div id="sponstype">Main Sponsors</div>
</div>
  </ion-content>
</ion-view>
