/* Empty. Add your own CSS if you like */
#myimage{
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
}

/*#layer{

    background: #37EA6F;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

#card{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: -4px;
  margin-right: -4px;
}

#imgcontainer{
	position: relative;
  background-color: black; 
}

#eventname{
	z-index: 100;
  	position: absolute;
  	color: white;
  	font-size: 12px;
  	left: 15px;
  	top: 120px;

}
#eventtime{
	z-index: 100;
  	position: absolute;
  	color: white;
  	font-size: 12px;
  	left: 15px;
  	top: 145px;
}

#sponstype{ 
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#sponsimage{
  width: 50%;
}
