/* Empty. Add your own CSS if you like */
#myimage{
	-webkit-filter: brightness(25%);
	-moz-filter: brightness(25%);
	
}

#imgcontainer{
	position: relative;
}
#eventname{
	z-index: 100;
  	position: absolute;
  	color: white;
  	font-size: 12px;
  	left: 15px;
  	top: 100px;

}
#eventtime{
	z-index: 100;
  	position: absolute;
  	color: white;
  	font-size: 12px;
  	left: 15px;
  	top: 120px;
}

#sponstype{ 
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#sponsimage{
  width: 50%;
}
